body{
    min-height: 100vh;
    position: relative;
    display: flex;
    background: #000;

}
.blinking{
    height: 40px;
    width: 40px;
    background-color: #fed;
    animation: blink 5s infinite alternate;
}
@keyframes blink{
    0%{
        opacity: 1;
        transform: translateX(0px);
    }
    50%{
        opacity: 0;
        transform: translateX(200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}